<?xml version="1.0" encoding="UTF-8"?>

<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:tr="http://myfaces.apache.org/trinidad"
	xmlns:trh="http://myfaces.apache.org/trinidad/html">

	<tr:document>

		<f:loadBundle var="msg" basename="ro.genesissoftware.app.messages" />

		<tr:form>
			<tr:panelFormLayout>
				<tr:inputText id="theName" label="#{msg['form.name.label']}"
					value="#{indexBean.theName}" />

				<tr:inputDate id="theDate" 
					label="#{msg['form.date.label']}" value="#{indexBean.theDate}">
					<tr:convertDateTime secondaryPattern="d/M/yyyy" pattern="yyyy/M/d"
						messageDetailConvertDate="#{msg['errors.date.format']}"/>
				</tr:inputDate>

			</tr:panelFormLayout>
		</tr:form>
	</tr:document>


</f:view>



